<div class="content_title">
  <div>
    <%= t('views.signup') %>
  </div>
</div>

<div class="content_box">
  <div class="content_box_child">
    <%= render "devise/shared/links" %>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="text_input">
        <%= f.text_field :name, placeholder: t('user.name') %>
      </div>

      <div class="text_input">
        <%= f.text_field :steam_id, placeholder: t('user.steam_id') %>
      </div>

      <div class="text_input">
        <%= f.text_field :email, placeholder: t('user.email') %>
      </div>

      <div class="text_input">
        <div class="content_box_child">
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
        <%= f.password_field :password, placeholder: t('user.password'), autocomplete: "off" %>
      </div>

      <div class="text_input">
        <%= f.password_field :password_confirmation, placeholder: t('user.password_confirmation'), autocomplete: "off" %>
      </div>

      <div class="create_button">
        <%= f.submit "Sign up" %>
      </div>
  <% end %>
</div>
