<div class="content_title">
  <div>
    <%= @user.name %>
  </div>
  <div>
    #<%= @user.steam_id %>
  </div>
</div>

<div class="content_box">
  <h2>Owned Games</h2>
  <% @game_stats.each do |game| %>
      <div class="content_row">
        <%= link_to game_path(game.game) do %>
            <div class="content_box_child">
              <div>
                <%= game.game.title %>
              </div>

              <div>
                <%= game.hours %>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>

<% if @user.id == current_user.id %>
    <div class="add_new" style="font-size: 0.7em">
      <%= link_to edit_user_path(@user) do %>
          <div>
            <%= t('views.edit') %>
          </div>
      <% end %>
    </div>
<% end %>
