<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>SteamId:</strong>
  <%= @user.steam_id %>
</p>

<% @gamedata.each do |gamedata| %>
    <p>
      <strong>played:</strong>
      <%= gamedata.hours %>
    </p>

    <p>
      <strong>game id:</strong>
      <%= gamedata.game_id %>
      <strong>game name</strong>
    </p>

    <p>
      <strong>user id:</strong>
      <%= gamedata.user_id %>
    </p>
<% end %>

<% @game.each do |game| %>
    <p>
      <strong>game id:</strong>
      <%= game.game_id %>
    </p>
    <p>
      <strong>game name</strong>
      <%= game.title %>
    </p>
<% end %>
