<div class="head">
  <div class="header_title">
    <div>
      <%= @user.name %> -
    </div>
    <div>
      # <%= @user.steam_id %>
    </div>
  </div>

  <div class="header">
    <div>Game Title</div>
    <div>Hours spent</div>
  </div>
</div>

<div class="content_box">
  <% @game_stat.each do |game| %>
      <%= link_to game_path(game) do %>
          <div class="content_box_child">
            <div>
              <%= game.game.title %>
            </div>

            <div>
              <%= game.hours %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
